html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#terminal {
    width: 100%;
    height: 100%;
    padding: 4px;
    font-family: Arial;
    background: #111;
    box-sizing: border-box;
    color: #ccc;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    overflow-y: auto;
}
